advanced-programming-ex2/.vscode/*
advanced-programming-ex2/stree
advanced-programming-ex3/.vscode/*
advanced-programming-ex3/shell
advanced-programming-ex3/sshell
advanced-programming-ex3/temp
advanced-programming-ex3/colors.txt
advanced-programming-ex3/*.out
advanced-programming-ex3/main
advanced-programming-ex3/main.c